%section#sidebar{:role=> "complementary"}
    %aside.conversation
        %ul.comment-list.list#comment-list

            / First Comment is marked 'ALPHA'
            %li.alpha
                .profile-detail
                    .avatar
                        %img.img-circle{:src => "http://images.ak.instagram.com/profiles/profile_1422_75sq_1366298550.jpg", :alt => "Incredibeard"}/

                .comment-detail
                    %header
                        %h4 Keegan Jones
                        %small.meta
                            %em 12 hours ago

                    %p
                        Distillery Helvetica Pinterest cliche. Bad wolf, chambray craft beer. Bitters, nihil deep v in organic pub blog. Squid Portland fingerstache, fanny pack placeat cillum yr odio lo-fi bitters.

                    %a{:href => "#"} Reply to Conversation

            %li
                .profile-detail
                    .avatar
                        %img.img-circle{:src => "https://lh4.googleusercontent.com/-Ns94wH2z5sk/AAAAAAAAAAI/AAAAAAAAABA/jFN6SPVm_3U/s120-c/photo.jpg", :alt => "Holly Golightly"}/

                .comment-detail
                    %header
                        %h4 Matt Scribner

                    %p
                        You probably haven't heard of them nihil Etsy paleo bitters cornhole. Tattooed salvia street art deep v. Fanny pack nihil occaecat, wayfarers Blue Bottle food truck you probably haven't heard of them semiotics occupy plaid Terry Richardson bespoke biodiesel single-origin coffee.

                    %small.meta
                        %em 12 hours ago


    .comments-bg


