%main#content-wrap.main{:role => "main"}

    / Highlight Article
    %section.highlight-wrap
        %article.highlight-article
            %header
                %h2.super Report: Manziel Deemetri

            %p.lead
                That's not a knock against Yeldon. The 6'2", 218-pounder was incredibly impressive, rushing for 1,108 yards and 12 touchdowns as Eddie Lacy's primary backup in 2012. Like Gurley, Yeldon has the same ability between the tackles and probably more top-end speed and agility.

            %a.primary.highlight.btn{:href => "#"} View Article




    / Article Index
    %section.article-index
        %article
            %header
                %h2
                    %a{:href => ""} h2 Article Title here that's really quite verbose.

                .article-controls
                    .btn-group
                        %a.btn.small.light#vote-up{:href => "#"}
                            %span.ss-like
                        %a.btn.small.light#vote-down{:href => "#"}
                            %span.ss-dislike
                    %a.btn.small.light{:href => "#"}
                        %span.ss-action


            %p How Intel will bring a “good enough” tablet to the US market by Christmas for less than $100. Cred whatever plaid, pariatur typewriter fixie artisan post-ironic small batch street art American Apparel disrupt sapiente 3 wolf moon…

            %small.meta

                %p
                    shared by
                    %a{:href => "#"}
                        Matt Scribner
                    in
                    %a{:href => "#"}
                        NCAA Football

                %em
                    %span.ss-link
                    7 hours ago

                    %a{:href => "#"}
                        %span.ss-chat
                        View Conversation


        %article
            %header
                %h2
                    %a{:href => ""} h2 Article Title here that's really quite verbose.

                .article-controls
                    .btn-group
                        %a.btn.small.light#vote-up{:href => "#"}
                            %span.ss-like
                        %a.btn.small.light#vote-down{:href => "#"}
                            %span.ss-dislike
                    %a.btn.small.light{:href => "#"}
                        %span.ss-action

            %p How Intel will bring a “good enough” tablet to the US market by Christmas for less than $100. Cred whatever plaid, pariatur typewriter fixie artisan post-ironic small batch street art American Apparel disrupt sapiente 3 wolf moon…

            %small.meta

                %p
                    shared by
                    %a{:href => "#"}
                        Matt Scribner
                    in
                    %a{:href => "#"}
                        NCAA Football

                %em
                    %span.ss-link
                    7 hours ago

                    %a{:href => "#"}
                        %span.ss-chat
                        View Conversation

        %article
            %article
            %header
                %h2
                    %a{:href => ""} h2 Article Title here that's really quite verbose.

                .article-controls
                    .btn-group
                        %a.btn.small.light#vote-up{:href => "#"}
                            %span.ss-like
                        %a.btn.small.light#vote-down{:href => "#"}
                            %span.ss-dislike
                    %a.btn.small.light{:href => "#"}
                        %span.ss-action

            %p How Intel will bring a “good enough” tablet to the US market by Christmas for less than $100. Cred whatever plaid, pariatur typewriter fixie artisan post-ironic small batch street art American Apparel disrupt sapiente 3 wolf moon…

            %small.meta

                %p
                    shared by
                    %a{:href => "#"}
                        Matt Scribner
                    in
                    %a{:href => "#"}
                        NCAA Football

                %em
                    %span.ss-link
                    7 hours ago

                    %a{:href => "#"}
                        %span.ss-chat
                        View Conversation

        %article
            %header
                %h2 h2 Article Title here

            %p How Intel will bring a “good enough” tablet to the US market by Christmas for less than $100. Cred whatever plaid, pariatur typewriter fixie artisan post-ironic small batch street art American Apparel disrupt sapiente 3 wolf moon…

            %small.meta

                %p
                    shared by
                    %a{:href => "#"}
                        Matt Scribner
                    in
                    %a{:href => "#"}
                        NCAA Football

                %em
                    %span.ss-link
                    7 hours ago

                    %a{:href => "#"}
                        %span.ss-chat
                        View Conversation

        %article
            %header
                %h2 h2 Article Title here

            %p How Intel will bring a “good enough” tablet to the US market by Christmas for less than $100. Cred whatever plaid, pariatur typewriter fixie artisan post-ironic small batch street art American Apparel disrupt sapiente 3 wolf moon…

            %small.meta

                %p
                    shared by
                    %a{:href => "#"}
                        Matt Scribner
                    in
                    %a{:href => "#"}
                        NCAA Football

                %em
                    %span.ss-link
                    7 hours ago

                    %a{:href => "#"}
                        %span.ss-chat
                        View Conversation

        %article
            %header
                %h2 h2 Article Title here

            %p How Intel will bring a “good enough” tablet to the US market by Christmas for less than $100. Cred whatever plaid, pariatur typewriter fixie artisan post-ironic small batch street art American Apparel disrupt sapiente 3 wolf moon…

            %small.meta

                %p
                    shared by
                    %a{:href => "#"}
                        Matt Scribner
                    in
                    %a{:href => "#"}
                        NCAA Football

                %em
                    %span.ss-link
                    7 hours ago

                    %a{:href => "#"}
                        %span.ss-chat
                        View Conversation

        %article
            %header
                %h2 h2 Article Title here

            %p How Intel will bring a “good enough” tablet to the US market by Christmas for less than $100. Cred whatever plaid, pariatur typewriter fixie artisan post-ironic small batch street art American Apparel disrupt sapiente 3 wolf moon…

            %small.meta

                %p
                    shared by
                    %a{:href => "#"}
                        Matt Scribner
                    in
                    %a{:href => "#"}
                        NCAA Football

                %em
                    %span.ss-link
                    7 hours ago

                    %a{:href => "#"}
                        %span.ss-chat
                        View Conversation

        %article
            %header
                %h2 h2 Article Title here

            %p How Intel will bring a “good enough” tablet to the US market by Christmas for less than $100. Cred whatever plaid, pariatur typewriter fixie artisan post-ironic small batch street art American Apparel disrupt sapiente 3 wolf moon…

            %small.meta

                %p
                    shared by
                    %a{:href => "#"}
                        Matt Scribner
                    in
                    %a{:href => "#"}
                        NCAA Football

                %em
                    %span.ss-link
                    5 hours ago

                    %a{:href => "#"}
                        %span.ss-chat
                        View Conversation

    .article-index-bg