%main#content-wrap.main{:role => "main"}

    %section.article-focus.main-content
        %article
            %header
                %h3
                    %a{:href => "#"}
                        Report: Loose lips sink ships, and Gary Patterson can't afford

            .article-controls
                .btn-group
                    %a.btn.small.light#vote-up{:href => "#"}
                        %span.ss-like
                    %a.btn.small.light#vote-down{:href => "#"}
                        %span.ss-dislike


            %p
                Article Paragraph Content…

            %footer
                %small.meta
                    %dl.tags
                        %dt
                            Tags:
                            %dd
                                %a{:href => "#"} Tag
                            %dd
                                %a{:href => "#"} Tag
                            %dd
                                %a{:href => "#"} Tag


                    %em
                        %span.ss-link
                        7 hours ago

                        %a{:href => "#"}
                            %span.ss-chat
                            12 Replies

                .article-controls
                    %a.btn.small.light{:href => "#"}
                        %span.ss-redo.circle
                        Respond

                    %a.btn.small.light{:href => "#"}
                        %span.ss-action
                        Share

                    %a.btn.small.light#spam{:href => "#"}
                        %span.ss-flag
                        Flag as Spam

                %a.btn.primary#sidebarButton{:href => "#sidebar"} Join the Conversation


    %aside.profile-badge.detail-panel
        .avatar
            %img.img-circle{:src => "https://lh4.googleusercontent.com/-Ns94wH2z5sk/AAAAAAAAAAI/AAAAAAAAABA/jFN6SPVm_3U/s120-c/photo.jpg", :alt => "Holly Golightly"}/

        %header
            %p Shared By
            %h3 Holly Golightly
            %hr.elipsis/
        %small.meta
            Illustrator, Writer, Foodie
            %a{:href => "#"} TAMU Alumni League