/ Modals
/ -------------------------

/ Search Modal
.modal.fade#searchModal{:tabindex=>'-1',:role=>'dialog',:'aria-labelledby'=>'searchModalLabel',:'aria-hidden'=>'true'}
    .modal-dialog
        .modal-content
            %header.modal-header
                %h4.modal-title Search

            %section.modal-body

                .form-group
                    %input.form-control{:type => "text", :placeholder => "What are you looking for?"}/


                %ul.list
                    %li
                        %a{:href => "#"}
                            %h3 Stadium Releases New Platform
                            %p
                                Eddie Lacy's primary backup in 2012. Like Gurley, Yeldon has the same ability between the tackles and probably more top-end speed and agility.
                            %small.meta
                                %dl.tags
                                    %dt
                                        Tags:
                                        %dd
                                            %a{:href => "#"} NCAA Football
                                        %dd
                                            %a{:href => "#"} Draft Picks
                                        %dd
                                            %a{:href => "#"} %Rootbeer

                    %li
                        %a{:href => "#"}
                            %h3 Stadium Releases New Platform
                            %p
                                Eddie Lacy's primary backup in 2012. Like Gurley, Yeldon has the same ability between the tackles and probably more top-end speed and agility.
                            %small.meta
                                %dl.tags
                                    %dt
                                        Tags:
                                        %dd
                                            %a{:href => "#"} NCAA Football
                                        %dd
                                            %a{:href => "#"} Draft Picks
                                        %dd
                                            %a{:href => "#"} %Rootbeer

                    %li
                        %a{:href => "#"}
                            %h3 Stadium Releases New Platform
                            %p
                                Eddie Lacy's primary backup in 2012. Like Gurley, Yeldon has the same ability between the tackles and probably more top-end speed and agility.
                            %small.meta
                                %dl.tags
                                    %dt
                                        Tags:
                                        %dd
                                            %a{:href => "#"} NCAA Football
                                        %dd
                                            %a{:href => "#"} Draft Picks
                                        %dd
                                            %a{:href => "#"} %Rootbeer


                .fade-off-text


            %footer.modal-footer
                %button.btn.light{:type=>'button',:'data-dismiss'=>'modal'} Close



%script{:rel => "javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
%script
    window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')
%script{:rel => "javascript", :src => "../assets/js/bootstrap/affix.js"}
%script{:rel => "javascript", :src => "../assets/js/bootstrap/carousel.js"}
%script{:rel => "javascript", :src => "../assets/js/bootstrap/dropdown.js"}
%script{:rel => "javascript", :src => "../assets/js/bootstrap/collapse.js"}
%script{:rel => "javascript", :src => "../assets/js/bootstrap/modal.js"}
%script{:rel => "javascript", :src => "../assets/js/bootstrap/transition.js"}
%script{:rel => "javascript", :src => "../assets/js/pushy/pushy.min.js"}
%script{:rel => "javascript", :src => "http://zurb.com/playground/projects/off-canvas/javascripts/foundation/jquery.offcanvas.js"}

%script{:rel => "javascript", :src => "../assets/js/app.js"}