%footer#site-footer
    %nav
        %ul
            %li
                %a{:href => "#"} Leagues
            %li
                %a{:href => "#"} Conferences
            %li
                %a{:href => "#"} About
