<header class='main-header'>
  <div class='title'>
    <h3>All Topics</h3>
    <div class='btn-toolbar'>
      <div class='btn-group'>
        <a class='btn light' href='#'>Add Topic</a>
      </div>
    </div>
  </div>
  <hr>
</header>