      <section class='main-content'>
        <header class='main-header'>
          <div class='title'>
            <h3><%= @topic.topic_name %></h3>
            <div class='btn-toolbar'>
              <div class='btn-group'>
                <%= render 'shared/followed_topic', :topic => @topic %>
              </div>
            </div>
          </div>
          <hr>
        </header>
        <ul class='saved-articles list'>
          <div class="topic_posts_pagination">
              <%= render 'topic_post', :topic_posts => @topic_posts %>
          </div>
          <%= will_paginate @topic_posts %>
        </ul>
      </section>