<%= render 'layouts/main_content_wrap' %>

      <section class='main-content'>
        <header class='main-header'>
          <div class='title'>
            <h3>FBS Conferences</h3>
            <div class='btn-toolbar'>
              <div class='btn-group'>
                <a class='btn light' href='#'>Add Conference</a>
              </div>
            </div>
          </div>
          <hr>
        </header>
        <table class='table'>
          <thead>
            <tr>
              <th>School</th>
              <th>Conference</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href='#'>Boston College</a>
              </td>
              <td>
                <a href='#'>Atlantic Coast Conference</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href='#'>Clemson College</a>
              </td>
              <td>
                <a href='#'>Atlantic Coast Conference</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href='#'>Duke College</a>
              </td>
              <td>
                <a href='#'>Atlantic Coast Conference</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href='#'>Florida State University</a>
              </td>
              <td>
                <a href='#'>Atlantic Coast Conference</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href='#'>Georgia College</a>
              </td>
              <td>
                <a href='#'>Atlantic Coast Conference</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href='#'>North Caralina State University</a>
              </td>
              <td>
                <a href='#'>Atlantic Coast Conference</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href='#'>Syracuse University</a>
              </td>
              <td>
                <a href='#'>Atlantic Coast Conference</a>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <aside class='detail-panel aside-content'>
        <div class='panel-heading'>
          <h4>Even More Lists</h4>
          <p>
            Browse these essential lists. You probably haven't heard of them pork belly odio distillery cillum mumblecore artisan elit gluten-free.
          </p>
          <a class='btn light' href='#'>Add Conference</a>
        </div>
        <div class='panel-body'>
          <ul class='list'>
            <li>
              <h4>Browse</h4>
            </li>
            <li>
              <a href='#'>Teams</a>
            </li>
            <li>
              <a href='#'>Conferences</a>
            </li>
            <li>
              <a href='#'>...</a>
            </li>
          </ul>
        </div>
      </aside>

<%= render 'layouts/end_main_content_wrap' %>