          <div class="interactions_pagination backend-user-container">
            <% @interactions.each do |i| %>
              <%= render 'interactions_for_user', :interaction => i %>
            <% end %>
          </div>
            