          <ul class='saved-articles list backend-user-container'>
	            		<div class="upvote_pagination">
	            			<% @posts.each do |post| %>
	            				<%= render 'post_written_by_user', :post => post, :topics => post.topics, :user => post.user %>
	            			<% end %>
	            		</div>		
          </ul>
            