<%= render 'layouts/main_content_wrap' %>
        <section class='main-content'>
          <header class='main-header'>
            <div class='title'>
              <h3><%= @user.name %></h3>
              
            </div>
            <hr>
          </header>
          
        </section>
        
        <%= render 'shared/author_box', :user => @user, :post => nil %>

  <%= render 'layouts/end_main_content_wrap' %>