    <!-- Modals -->
    <!-- Search Modal -->
    <div aria-hidden='true' aria-labelledby='searchModalLabel' class='modal fade' id='searchModal' role='dialog' tabindex='-1'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <header class='modal-header'>
            <h4 class='modal-title'>Search</h4>
          </header>
          <section class='modal-body'>
              <%= form_tag search_path, :remote => true do %>
                  <%= text_field_tag :search, params[:search], :class => 'form-control', :placeholder => "What are you looking for?" %>
                  <%= submit_tag "Search", :name => nil %>
              <% end %>
            <ul class='list'>
              <% if @results %>
                <% @results.each do |result| %>
                  <li class="result_items">
                    <%= render 'shared/modal_content/result_element', :result => @result %>
                  </li>
                <% end %>
              <% end %>
            </ul>


            <div class='fade-off-text'></div>
          </section>
          <footer class='modal-footer'>
            <button class='btn light' data-dismiss='modal' type='button'>Close</button>
          </footer>
        </div>
      </div>
    </div>