              <% if result %>
                <li>
                  <a href='<%= post_path(result) %>'>
                    <h3><%= result.title %></h3>
                    <p>
                      <%= result.text || result.link %> 
                    </p>
                    <small class='meta'>
                      <dl class='tags'>
                        <% unless result.topics.empty? %>
                          <dt>
                            Topics:
                            <% result.topics.each do |topic| %>
                              <%= render 'shared/modal_content/topic_tag', :topic => topic %>
                            <% end %>
                          </dt>
                        <% end %>
                      </dl>
                    </small>
                  </a>
                </li>
              <% end %>