              <li>
                <a href='#'>
                  <h3>Stadium Releases New Platform</h3>
                  <p>
                    Eddie Lacy's primary backup in 2012. Like Gurley, Yeldon has the same ability between the tackles and probably more top-end speed and agility.
                  </p>
                  <small class='meta'>
                    <dl class='tags'>
                      <dt>
                        Tags:
                        <dd>
                          <a href='#'>NCAA Football</a>
                        </dd>
                        <dd>
                          <a href='#'>Draft Picks</a>
                        </dd>
                        <dd>
                          <a href='#'>%Rootbeer</a>
                        </dd>
                      </dt>
                    </dl>
                  </small>
                </a>
              </li>