              <li>
                <a href='#'>
                  <% if result %>
                  <h3><%= result.title %></h3>
                  <p>
                    <%= result.text %> 
                  </p>
                  <% end %>
                  <small class='meta'>
                    <dl class='tags'>
                      <dt>
                        Topics:
                        <dd>
                          <a href='#'>NCAA Football</a>
                        </dd>
                        <dd>
                          <a href='#'>Draft Picks</a>
                        </dd>
                        <dd>
                          <a href='#'>%Rootbeer</a>
                        </dd>
                      </dt>
                    </dl>
                  </small>
                </a>
              </li>