              <li>
                Want to join?
                <a href='#'>Sign Up</a>
              </li>
              <li>
                <%= link_to "Sign in with Twitter", "/auth/twitter", :class => 'btn dark' %>
              </li>