	<%= render 'layouts/main_content_wrap' %>
	
		<section class="content-area">

				<form accept-charset="UTF-8" action="/about" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="lJceSgNLPJiqeaKnRY8XqR/QEQhBElyVR2HEKIAjkQw=" /></div>
    			
    			  				  <header>
    			  	<h2>About Stadium Times</h2>
    			  	<div class="meta">
	                  <div class="subheading">The Product, The Team, The Company</div>
	                </div>
    			  </header>
    			  <br/>

    			  <h2>Your spot for up-to-date sports news</h2><br/>
    			  <h5>The conversation starts here.  </h5>

    			  <br>

    			  <h2>The Story</h2><br/>
    			  <h5>It all started in January of 2013 when Will Schreiber and McArthur Gill decided to spend their last semester of college solving the biggest mystery in the world: <i>Why College Football, the most exciting sport in the world, does not have a successful fantasy sports format?</i> </h5>
    			  <h5>The two got to work in the Nashville Entrepreneur Center, building prototypes and an investable business plan.</h5>
    			  <h5>6 months, 3 applications, and 280,000 lines of code later: Stadium Stock Exchange presented by Nissan.</h5>
    			  <br/>

    			  <h2>The Team</h2><br/>
    			  <h5>Will Schreiber, CEO + CTO</h5>
    			  <h5>McArthur Gill, Chief Product Officer</h5>
    			  <h5>Reed Whitcraft, Head of Development</h5>
    			  <h5>Stewart Alvis, Director of Media</h5>
    			  <br/>
    			  <br><br>

					</form>
			</section>

		<%= render 'layouts/end_main_content_wrap' %>