    
    <section id='sidebar' role='complementary'>
      <aside class='conversation'>
        <ul class='comment-list list' id='comment-list'>
          <li class='alpha'>
            <div class='profile-detail'>
              <div class='avatar'>
                <img alt='Incredibeard' class='img-circle' src='http://images.ak.instagram.com/profiles/profile_1422_75sq_1366298550.jpg'>
              </div>
            </div>
            <div class='comment-detail'>
              <header>
                <h4>Keegan Jones</h4>
                <small class='meta'>
                  <em>12 hours ago</em>
                </small>
              </header>
              <p>
                Distillery Helvetica Pinterest cliche. Bad wolf, chambray craft beer. Bitters, nihil deep v in organic pub blog. Squid Portland fingerstache, fanny pack placeat cillum yr odio lo-fi bitters.
              </p>
              <a href='#'>Reply to Conversation</a>
            </div>
          </li>
          <li>
            <div class='profile-detail'>
              <div class='avatar'>
                <img alt='Holly Golightly' class='img-circle' src='https://lh4.googleusercontent.com/-Ns94wH2z5sk/AAAAAAAAAAI/AAAAAAAAABA/jFN6SPVm_3U/s120-c/photo.jpg'>
              </div>
            </div>
            <div class='comment-detail'>
              <header>
                <h4>Matt Scribner</h4>
              </header>
              <p>
                You probably haven't heard of them nihil Etsy paleo bitters cornhole. Tattooed salvia street art deep v. Fanny pack nihil occaecat, wayfarers Blue Bottle food truck you probably haven't heard of them semiotics occupy plaid Terry Richardson bespoke biodiesel single-origin coffee.
              </p>
              <small class='meta'>
                <em>12 hours ago</em>
              </small>
            </div>
          </li>
          <li>
            <div class='profile-detail'>
              <div class='avatar'>
                <img alt='Holly Golightly' class='img-circle' src='https://lh4.googleusercontent.com/-Ns94wH2z5sk/AAAAAAAAAAI/AAAAAAAAABA/jFN6SPVm_3U/s120-c/photo.jpg'>
              </div>
            </div>
            <div class='comment-detail'>
              <header>
                <h4>Matt Scribner</h4>
              </header>
              <p>
                You probably haven't heard of them nihil Etsy paleo bitters cornhole. Tattooed salvia street art deep v. Fanny pack nihil occaecat, wayfarers Blue Bottle food truck you probably haven't heard of them semiotics occupy plaid Terry Richardson bespoke biodiesel single-origin coffee.
              </p>
              <small class='meta'>
                <em>12 hours ago</em>
              </small>
            </div>
          </li>
          <li>
            <div class='profile-detail'>
              <div class='avatar'>
                <img alt='Holly Golightly' class='img-circle' src='https://lh4.googleusercontent.com/-Ns94wH2z5sk/AAAAAAAAAAI/AAAAAAAAABA/jFN6SPVm_3U/s120-c/photo.jpg'>
              </div>
            </div>
            <div class='comment-detail'>
              <header>
                <h4>Matt Scribner</h4>
              </header>
              <p>
                You probably haven't heard of them nihil Etsy paleo bitters cornhole. Tattooed salvia street art deep v. Fanny pack nihil occaecat, wayfarers Blue Bottle food truck you probably haven't heard of them semiotics occupy plaid Terry Richardson bespoke biodiesel single-origin coffee.
              </p>
              <small class='meta'>
                <em>12 hours ago</em>
              </small>
            </div>
          </li>
          <li>
            <div class='profile-detail'>
              <div class='avatar'>
                <img alt='Holly Golightly' class='img-circle' src='https://lh4.googleusercontent.com/-Ns94wH2z5sk/AAAAAAAAAAI/AAAAAAAAABA/jFN6SPVm_3U/s120-c/photo.jpg'>
              </div>
            </div>
            <div class='comment-detail'>
              <header>
                <h4>Matt Scribner</h4>
              </header>
              <p>
                You probably haven't heard of them nihil Etsy paleo bitters cornhole. Tattooed salvia street art deep v. Fanny pack nihil occaecat, wayfarers Blue Bottle food truck you probably haven't heard of them semiotics occupy plaid Terry Richardson bespoke biodiesel single-origin coffee.
              </p>
              <small class='meta'>
                <em>12 hours ago</em>
              </small>
            </div>
          </li>
          <li>
            <div class='profile-detail'>
              <div class='avatar'>
                <img alt='Holly Golightly' class='img-circle' src='https://lh4.googleusercontent.com/-Ns94wH2z5sk/AAAAAAAAAAI/AAAAAAAAABA/jFN6SPVm_3U/s120-c/photo.jpg'>
              </div>
            </div>
            <div class='comment-detail'>
              <header>
                <h4>Matt Scribner</h4>
              </header>
              <p>
                You probably haven't heard of them nihil Etsy paleo bitters cornhole. Tattooed salvia street art deep v. Fanny pack nihil occaecat, wayfarers Blue Bottle food truck you probably haven't heard of them semiotics occupy plaid Terry Richardson bespoke biodiesel single-origin coffee.
              </p>
              <small class='meta'>
                <em>12 hours ago</em>
              </small>
            </div>
          </li>
          <li>
            <div class='profile-detail'>
              <div class='avatar'>
                <img alt='Holly Golightly' class='img-circle' src='https://lh4.googleusercontent.com/-Ns94wH2z5sk/AAAAAAAAAAI/AAAAAAAAABA/jFN6SPVm_3U/s120-c/photo.jpg'>
              </div>
            </div>
            <div class='comment-detail'>
              <header>
                <h4>Matt Scribner</h4>
              </header>
              <p>
                You probably haven't heard of them nihil Etsy paleo bitters cornhole. Tattooed salvia street art deep v. Fanny pack nihil occaecat, wayfarers Blue Bottle food truck you probably haven't heard of them semiotics occupy plaid Terry Richardson bespoke biodiesel single-origin coffee.
              </p>
              <small class='meta'>
                <em>12 hours ago</em>
              </small>
            </div>
          </li>
          <li>
            <div class='profile-detail'>
              <div class='avatar'>
                <img alt='Holly Golightly' class='img-circle' src='https://lh4.googleusercontent.com/-Ns94wH2z5sk/AAAAAAAAAAI/AAAAAAAAABA/jFN6SPVm_3U/s120-c/photo.jpg'>
              </div>
            </div>
            <div class='comment-detail'>
              <header>
                <h4>Matt Scribner</h4>
              </header>
              <p>
                You probably haven't heard of them nihil Etsy paleo bitters cornhole. Tattooed salvia street art deep v. Fanny pack nihil occaecat, wayfarers Blue Bottle food truck you probably haven't heard of them semiotics occupy plaid Terry Richardson bespoke biodiesel single-origin coffee.
              </p>
              <small class='meta'>
                <em>12 hours ago</em>
              </small>
            </div>
          </li>
          <li>
            <div class='profile-detail'>
              <div class='avatar'>
                <img alt='Holly Golightly' class='img-circle' src='https://lh4.googleusercontent.com/-Ns94wH2z5sk/AAAAAAAAAAI/AAAAAAAAABA/jFN6SPVm_3U/s120-c/photo.jpg'>
              </div>
            </div>
            <div class='comment-detail'>
              <header>
                <h4>Matt Scribner</h4>
              </header>
              <p>
                You probably haven't heard of them nihil Etsy paleo bitters cornhole. Tattooed salvia street art deep v. Fanny pack nihil occaecat, wayfarers Blue Bottle food truck you probably haven't heard of them semiotics occupy plaid Terry Richardson bespoke biodiesel single-origin coffee.
              </p>
              <small class='meta'>
                <em>12 hours ago</em>
              </small>
            </div>
          </li>
          <li>
            <div class='profile-detail'>
              <div class='avatar'>
                <img alt='Holly Golightly' class='img-circle' src='https://lh4.googleusercontent.com/-Ns94wH2z5sk/AAAAAAAAAAI/AAAAAAAAABA/jFN6SPVm_3U/s120-c/photo.jpg'>
              </div>
            </div>
            <div class='comment-detail'>
              <header>
                <h4>Matt Scribner</h4>
              </header>
              <p>
                You probably haven't heard of them nihil Etsy paleo bitters cornhole. Tattooed salvia street art deep v. Fanny pack nihil occaecat, wayfarers Blue Bottle food truck you probably haven't heard of them semiotics occupy plaid Terry Richardson bespoke biodiesel single-origin coffee.
              </p>
              <small class='meta'>
                <em>12 hours ago</em>
              </small>
            </div>
          </li>
          <li>
            <div class='profile-detail'>
              <div class='avatar'>
                <img alt='Holly Golightly' class='img-circle' src='https://lh4.googleusercontent.com/-Ns94wH2z5sk/AAAAAAAAAAI/AAAAAAAAABA/jFN6SPVm_3U/s120-c/photo.jpg'>
              </div>
            </div>
            <div class='comment-detail'>
              <header>
                <h4>Matt Scribner</h4>
              </header>
              <p>
                You probably haven't heard of them nihil Etsy paleo bitters cornhole. Tattooed salvia street art deep v. Fanny pack nihil occaecat, wayfarers Blue Bottle food truck you probably haven't heard of them semiotics occupy plaid Terry Richardson bespoke biodiesel single-origin coffee.
              </p>
              <small class='meta'>
                <em>12 hours ago</em>
              </small>
            </div>
          </li>
          <li>
            <div class='profile-detail'>
              <div class='avatar'>
                <img alt='Holly Golightly' class='img-circle' src='https://lh4.googleusercontent.com/-Ns94wH2z5sk/AAAAAAAAAAI/AAAAAAAAABA/jFN6SPVm_3U/s120-c/photo.jpg'>
              </div>
            </div>
            <div class='comment-detail'>
              <header>
                <h4>Matt Scribner</h4>
              </header>
              <p>
                You probably haven't heard of them nihil Etsy paleo bitters cornhole. Tattooed salvia street art deep v. Fanny pack nihil occaecat, wayfarers Blue Bottle food truck you probably haven't heard of them semiotics occupy plaid Terry Richardson bespoke biodiesel single-origin coffee.
              </p>
              <small class='meta'>
                <em>12 hours ago</em>
              </small>
            </div>
          </li>
          <li>
            <div class='profile-detail'>
              <div class='avatar'>
                <img alt='Holly Golightly' class='img-circle' src='https://lh4.googleusercontent.com/-Ns94wH2z5sk/AAAAAAAAAAI/AAAAAAAAABA/jFN6SPVm_3U/s120-c/photo.jpg'>
              </div>
            </div>
            <div class='comment-detail'>
              <header>
                <h4>Matt Scribner</h4>
              </header>
              <p>
                You probably haven't heard of them nihil Etsy paleo bitters cornhole. Tattooed salvia street art deep v. Fanny pack nihil occaecat, wayfarers Blue Bottle food truck you probably haven't heard of them semiotics occupy plaid Terry Richardson bespoke biodiesel single-origin coffee.
              </p>
              <small class='meta'>
                <em>12 hours ago</em>
              </small>
            </div>
          </li>
        </ul>
      </aside>
      <div class='comments-bg'></div>
    </section>