    
    <section data-offset-top='60' data-spy='affix' id='sidebar' role='complementary'>
      <aside class='conversation'>
        <ul class='comment-list list' id='comment-list'>

          <%= logged_in ? (render 'new_comment', :user => current_user) : nil %>

          <div id="comments-container">
            <div class="comments_pagination">
              <% @top_comments.each do |comment| %>
                <%= render 'comment_detail', :comment => comment %>
              <% end %>
              <% @comments.each do |comment| %>
                <%= render 'comment_detail', :comment => comment %>
              <% end %>
            </div>
            <%= will_paginate @comments %>
          </div>

        </ul>
      </aside>
      <div class='comments-bg'></div>
    </section>