    
    <section data-offset-top='60' data-spy='affix' id='sidebar' role='complementary'>
      <aside class='conversation'>
        <ul class='comment-list list' id='comment-list'>

          <%= logged_in ? (render 'new_comment', :user => current_user) : nil %>

          <div id="comments-container">
            <% @top_comments.each do |comment| %>
              <%= render 'comment_detail', :comment => comment %>
            <% end %>
          </div>          

          <div id="comments-container">
            <% @comments.each do |comment| %>
              <%= render 'comment_detail', :comment => comment %>
            <% end %>
          </div>

        </ul>
      </aside>
      <div class='comments-bg'></div>
    </section>