      <!-- Highlight Article -->
      <section class='highlight-wrap'>
        <article class='highlight-article'>
          <header>
            <h2 class='super'>Report: Manziel Deemetri</h2>
          </header>
          <p class='lead'>
            That's not a knock against Yeldon. The 6'2", 218-pounder was incredibly impressive, rushing for 1,108 yards and 12 touchdowns as Eddie Lacy's primary backup in 2012. Like Gurley, Yeldon has the same ability between the tackles and probably more top-end speed and agility.
          </p>
          <a class='primary highlight btn' href='#'>View Article</a>
        </article>
      </section>