      <!-- Highlight Article -->
      <section class='highlight-wrap'>
        <article class='highlight-article'>
          <header>
            <h2 class='super'><%= @highlighted_article.display_title %></h2>
          </header>
          <p class='lead'>
            <%= truncate(strip_tags(@highlighted_article.text), length: 200, separator: ' ').html_safe %>
          </p>
          <a class='primary highlight btn' href='<%= @highlighted_article.link_for_post %>'>View Article</a>
        </article>
      </section>