      <!-- Highlight Article -->
      <section class='highlight-wrap'>
        <article class='highlight-article'>
          <header>
            <h2 class='super'><%= @highlighted_article.title %></h2>
          </header>
          <p class='lead'>
            <%= @highlighted_article.text %>  
          </p>
          <a class='primary highlight btn' href='<%= post_path(@highlighted_article) %>'>View Article</a>
        </article>
      </section>