<main class='main' id='content-wrap' role='main'>
      <!-- Highlight Article -->
      <section class='highlight-wrap'>
        <article class='highlight-article'>
          <header>
            <h2 class='super'>Report: Manziel Deemetri</h2>
          </header>
          <p class='lead'>
            That's not a knock against Yeldon. The 6'2", 218-pounder was incredibly impressive, rushing for 1,108 yards and 12 touchdowns as Eddie Lacy's primary backup in 2012. Like Gurley, Yeldon has the same ability between the tackles and probably more top-end speed and agility.
          </p>
          <a class='primary highlight btn' href='#'>View Article</a>
        </article>
      </section>
      <!-- Article Index -->
      <section class='article-index'>
        <article>
          <header>
            <h2>
              <a href=''>h2 Article Title here that's really quite verbose.</a>
            </h2>
            <div class='article-controls'>
              <div class='btn-group'>
                <a class='btn small light' href='#' id='vote-up'>
                  <span class='ss-like'></span>
                </a>
                <a class='btn small light' href='#' id='vote-down'>
                  <span class='ss-dislike'></span>
                </a>
              </div>
              <a class='btn small light' href='#'>
                <span class='ss-action'></span>
              </a>
            </div>
          </header>
          <p>How Intel will bring a “good enough” tablet to the US market by Christmas for less than $100. Cred whatever plaid, pariatur typewriter fixie artisan post-ironic small batch street art American Apparel disrupt sapiente 3 wolf moon…</p>
          <small class='meta'>
            <p>
              shared by
              <a href='#'>
                Matt Scribner
              </a>
              in
              <a href='#'>
                NCAA Football
              </a>
            </p>
            <em>
              <span class='ss-link'></span>
              7 hours ago
              <a href='#'>
                <span class='ss-chat'></span>
                View Conversation
              </a>
            </em>
          </small>
        </article>
        <article>
          <header>
            <h2>
              <a href=''>h2 Article Title here that's really quite verbose.</a>
            </h2>
            <div class='article-controls'>
              <div class='btn-group'>
                <a class='btn small light' href='#' id='vote-up'>
                  <span class='ss-like'></span>
                </a>
                <a class='btn small light' href='#' id='vote-down'>
                  <span class='ss-dislike'></span>
                </a>
              </div>
              <a class='btn small light' href='#'>
                <span class='ss-action'></span>
              </a>
            </div>
          </header>
          <p>How Intel will bring a “good enough” tablet to the US market by Christmas for less than $100. Cred whatever plaid, pariatur typewriter fixie artisan post-ironic small batch street art American Apparel disrupt sapiente 3 wolf moon…</p>
          <small class='meta'>
            <p>
              shared by
              <a href='#'>
                Matt Scribner
              </a>
              in
              <a href='#'>
                NCAA Football
              </a>
            </p>
            <em>
              <span class='ss-link'></span>
              7 hours ago
              <a href='#'>
                <span class='ss-chat'></span>
                View Conversation
              </a>
            </em>
          </small>
        </article>
        <article>
          <article></article>
          <header>
            <h2>
              <a href=''>h2 Article Title here that's really quite verbose.</a>
            </h2>
            <div class='article-controls'>
              <div class='btn-group'>
                <a class='btn small light' href='#' id='vote-up'>
                  <span class='ss-like'></span>
                </a>
                <a class='btn small light' href='#' id='vote-down'>
                  <span class='ss-dislike'></span>
                </a>
              </div>
              <a class='btn small light' href='#'>
                <span class='ss-action'></span>
              </a>
            </div>
          </header>
          <p>How Intel will bring a “good enough” tablet to the US market by Christmas for less than $100. Cred whatever plaid, pariatur typewriter fixie artisan post-ironic small batch street art American Apparel disrupt sapiente 3 wolf moon…</p>
          <small class='meta'>
            <p>
              shared by
              <a href='#'>
                Matt Scribner
              </a>
              in
              <a href='#'>
                NCAA Football
              </a>
            </p>
            <em>
              <span class='ss-link'></span>
              7 hours ago
              <a href='#'>
                <span class='ss-chat'></span>
                View Conversation
              </a>
            </em>
          </small>
        </article>
        <article>
          <header>
            <h2>h2 Article Title here</h2>
          </header>
          <p>How Intel will bring a “good enough” tablet to the US market by Christmas for less than $100. Cred whatever plaid, pariatur typewriter fixie artisan post-ironic small batch street art American Apparel disrupt sapiente 3 wolf moon…</p>
          <small class='meta'>
            <p>
              shared by
              <a href='#'>
                Matt Scribner
              </a>
              in
              <a href='#'>
                NCAA Football
              </a>
            </p>
            <em>
              <span class='ss-link'></span>
              7 hours ago
              <a href='#'>
                <span class='ss-chat'></span>
                View Conversation
              </a>
            </em>
          </small>
        </article>
        <article>
          <header>
            <h2>h2 Article Title here</h2>
          </header>
          <p>How Intel will bring a “good enough” tablet to the US market by Christmas for less than $100. Cred whatever plaid, pariatur typewriter fixie artisan post-ironic small batch street art American Apparel disrupt sapiente 3 wolf moon…</p>
          <small class='meta'>
            <p>
              shared by
              <a href='#'>
                Matt Scribner
              </a>
              in
              <a href='#'>
                NCAA Football
              </a>
            </p>
            <em>
              <span class='ss-link'></span>
              7 hours ago
              <a href='#'>
                <span class='ss-chat'></span>
                View Conversation
              </a>
            </em>
          </small>
        </article>
        <article>
          <header>
            <h2>h2 Article Title here</h2>
          </header>
          <p>How Intel will bring a “good enough” tablet to the US market by Christmas for less than $100. Cred whatever plaid, pariatur typewriter fixie artisan post-ironic small batch street art American Apparel disrupt sapiente 3 wolf moon…</p>
          <small class='meta'>
            <p>
              shared by
              <a href='#'>
                Matt Scribner
              </a>
              in
              <a href='#'>
                NCAA Football
              </a>
            </p>
            <em>
              <span class='ss-link'></span>
              7 hours ago
              <a href='#'>
                <span class='ss-chat'></span>
                View Conversation
              </a>
            </em>
          </small>
        </article>
        <article>
          <header>
            <h2>h2 Article Title here</h2>
          </header>
          <p>How Intel will bring a “good enough” tablet to the US market by Christmas for less than $100. Cred whatever plaid, pariatur typewriter fixie artisan post-ironic small batch street art American Apparel disrupt sapiente 3 wolf moon…</p>
          <small class='meta'>
            <p>
              shared by
              <a href='#'>
                Matt Scribner
              </a>
              in
              <a href='#'>
                NCAA Football
              </a>
            </p>
            <em>
              <span class='ss-link'></span>
              7 hours ago
              <a href='#'>
                <span class='ss-chat'></span>
                View Conversation
              </a>
            </em>
          </small>
        </article>
        <article>
          <header>
            <h2>h2 Article Title here</h2>
          </header>
          <p>How Intel will bring a “good enough” tablet to the US market by Christmas for less than $100. Cred whatever plaid, pariatur typewriter fixie artisan post-ironic small batch street art American Apparel disrupt sapiente 3 wolf moon…</p>
          <small class='meta'>
            <p>
              shared by
              <a href='#'>
                Matt Scribner
              </a>
              in
              <a href='#'>
                NCAA Football
              </a>
            </p>
            <em>
              <span class='ss-link'></span>
              7 hours ago
              <a href='#'>
                <span class='ss-chat'></span>
                View Conversation
              </a>
            </em>
          </small>
        </article>
      </section>
      <div class='article-index-bg'></div>
      <footer id='site-footer'>
        <nav>
          <ul>
            <li>
              <a href='#'>Leagues</a>
            </li>
            <li>
              <a href='#'>Conferences</a>
            </li>
            <li>
              <a href='#'>About</a>
            </li>
          </ul>
        </nav>
      </footer>
    </main>