      
      <section class='article-focus main-content'>

        <article>

          <header>
            <h3>
              <a href='<%= @post.link_for_post %>'>
                <%= @post.title %>
              </a>
            </h3>
          </header>
          
          <p>
          <%= @post.text %>
          </p>


          <footer>

            <div class='article-controls'>
              <div class='btn-group'>
                <%= render 'shared/vote_up_or_down_links', post: @post %>
              </div>
              <a class='btn small light' href='#'>
                <span class='ss-redo circle'></span>
                Respond
              </a>
              <a class='btn small light' href='#'>
                <span class='ss-action'></span>
                Share
              </a>
              <a class='btn small light' href='#' id='spam'>
                <span class='ss-flag'></span>
                Flag as Spam
              </a>
            </div>
            <a class='btn primary' href='#sidebar' id='sidebarButton'>Join the Conversation</a>

            <small class='meta'>

              <!--
              <dl class='tags'>
                <dt>
                  Topics:
                  <dd>
                    <a href='#'>NCAA Football</a>
                  </dd>
                  <dd>
                    <a href='#'>Draft Picks</a>
                  </dd>
                  <dd>
                    <a href='#'>Rootbeer</a>
                  </dd>
                </dt>
              </dl>

              <em>
                <span class='ss-link'></span>
                7 hours ago
                <a href='#'>
                  <span class='ss-chat'></span>
                  12 Replies
                </a>
              </em>
              -->

            </small>

          </footer>

        </article>

      </section>