<%= render 'layouts/main_content_wrap' %>

      <%= render 'highlight_article' %>

      <!-- Article Index -->
      <section class='article-index'>

        <% @posts.each do |p| %>
          <% @post = p %>
          <% @author = p.user %>
          <%= render 'article_list_box' %>
        <% end %>

      </section>

      <div class='article-index-bg'></div>

<%= render 'layouts/end_main_content_wrap' %>