<%= render 'layouts/main_content_wrap' %>

      <section class='article-focus main-content'>
        <article>
          <header>
            <h3>
              <a href='#'>
                Report: Loose lips sink ships, and Gary Patterson can't afford
              </a>
            </h3>
          </header>
          <div class='article-controls'>
            <div class='btn-group'>
              <a class='btn small light' href='#' id='vote-up'>
                <span class='ss-like'></span>
              </a>
              <a class='btn small light' href='#' id='vote-down'>
                <span class='ss-dislike'></span>
              </a>
            </div>
          </div>
          <p>
            Loose lips sink ships, and Gary Patterson can't afford for his vessel to capsize this early. So he's
            <a href='#'>employing a tight-lipped approach</a>
            to his team's quarterback battle between Casey Pachall and Trevone Boykin.s
          </p>
          <p>
            That's not a knock against Yeldon. The 6'2", 218-pounder was incredibly impressive, rushing for 1,108 yards and 12 touchdowns as Eddie Lacy's primary backup in 2012. Like Gurley, Yeldon has the same ability between the tackles and probably more top-end speed and agility.
          </p>
          <h4>That's not to say…</h4>
          <p>
            That's not a knock against Yeldon. The 6'2", 218-pounder was incredibly impressive, rushing for 1,108 yards and 12 touchdowns as Eddie Lacy's primary backup in 2012. Like Gurley, Yeldon has the same ability between the tackles and probably more top-end speed and agility.
          </p>
          <p>
            Loose lips sink ships, and Gary Patterson can't afford for his vessel to capsize this early. So he's
            <a href='#'>employing a tight-lipped approach</a>
            to his team's quarterback battle between Casey Pachall and Trevone Boykin.s
          </p>
          <footer>
            <small class='meta'>
              <dl class='tags'>
                <dt>
                  Tags:
                  <dd>
                    <a href='#'>NCAA Football</a>
                  </dd>
                  <dd>
                    <a href='#'>Draft Picks</a>
                  </dd>
                  <dd>
                    <a href='#'>Rootbeer</a>
                  </dd>
                </dt>
              </dl>
              <em>
                <span class='ss-link'></span>
                7 hours ago
                <a href='#'>
                  <span class='ss-chat'></span>
                  12 Replies
                </a>
              </em>
            </small>
            <div class='article-controls'>
              <a class='btn small light' href='#'>
                <span class='ss-redo circle'></span>
                Respond
              </a>
              <a class='btn small light' href='#'>
                <span class='ss-action'></span>
                Share
              </a>
              <a class='btn small light' href='#' id='spam'>
                <span class='ss-flag'></span>
                Flag as Spam
              </a>
            </div>
            <a class='btn primary' href='#sidebar' id='sidebarButton'>Join the Conversation</a>
          </footer>
        </article>
      </section>

      <%= render 'author_box' %>

      <%= render 'layouts/end_main_content_wrap' %>

      <%= render 'comments_sidebar' %>

