      <footer id='site-footer'>
        <nav>
          <ul>
            <li>
              <a href='<%= new_post_path %>'>Write an Article</a>
            </li>
            <li>
              <a href='<%= new_link_path("link") %>'>Submit a Link</a>
            </li>
          </ul>
        </nav>
      </footer>