      <footer id='site-footer'>
        <nav>
          <ul>
            <li>
              <a href='#'>Leagues</a>
            </li>
            <li>
              <a href='#'>Conferences</a>
            </li>
            <li>
              <a href='<%= new_post_path %>'>Submit a Post</a>
            </li>
          </ul>
        </nav>
      </footer>